body {
    background-image: url("https://cataas.com/cat?1");
    color: rgba(0, 0, 0, 0)
}

img {
    visibility: hidden;
}

li:nth-child(1) {
    background-image: url("https://cataas.com/cat?2");
    background-size: contain;
}

li:nth-child(2) {
    background-image: url("https://cataas.com/cat?3");
    background-size: contain;
}

li:nth-child(3) {
    background-image: url("https://cataas.com/cat?4");
    background-size: contain;
}

li:nth-child(4) {
    background-image: url("https://cataas.com/cat?5");
    background-size: contain;
}

h1 {
    background-image: url("https://cataas.com/cat?6");
    background-size: contain;
}

img {
    background-image: url("https://cataas.com/cat?7");
    background-size: contain;
}