@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chocolate+Classical+Sans&display=swap');

:root {
    --color1: #81F4E1;
    --color2: #56CBF9;
    --color3: #1DBE7C;
    --color4: #004F2D;
}

body {
    font-size: large;
}

h1 {
    font-family: "Alfa Slab One", serif;
    color: black;
}

header h1 {
    text-align: center;
}

nav {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    justify-content: center;
    background-color: var(--color2)
}

nav a {
    text-decoration: none;
    border: 1px solid black;
    width: 100%;
    height: 2.5em;
    text-align: center;
    font-family: "Teko", sans-serif; /* TODO: center */
}

main {
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
}

#deadly_fun img {
    float: left;
    margin: 0.5em;
}

#ice img {
    float: right;
    margin: 0.5em;
}

#about_me img {
    float: left;
    margin: 0.5em;
}

#site_plan {
    border-collapse: collapse;
    width: 100%;
}

#site_plan th, #site_plan td {
    border: 2px solid white;
}

#site_plan tr:nth-child(1), #site_plan tr:nth-child(2) {
    background-color: var(--color4);
    color: white;
}

tr:nth-child(2n) {
    background-color: var(--color2);
}

tr:nth-child(2n + 1) {
    background-color: var(--color3);
}

#collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
}

.contact {
    display: none;
    overflow: hidden;
}